<section class="main-collection page-width" {{ section.shopify_attributes }}>
  <h1>{{ collection.title | escape }}</h1>
  {% if collection.description != blank %}
    <div class="rte">{{ collection.description }}</div>
  {% endif %}
  <div class="product-grid product-grid--4">
    {% for product in collection.products %}
      {% render 'product-card', product: product, show_vendor: true, show_rating: true, show_quick_add: true %}
    {% else %}
      <p>{{ 'sections.collection_template.empty' | t }}</p>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Main collection",
  "settings": []
}
{% endschema %}
