<section class="main-page page-width" {{ section.shopify_attributes }}>
  <h1>{{ page.title | escape }}</h1>
  <div class="rte">{{ page.content }}</div>
</section>

{% schema %}
{
  "name": "Main page",
  "settings": []
}
{% endschema %}
